<h2>Greatest App Evar!!</h2>

<form method="POST" action="/upload" enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>

Self diagnostic output:

<ul>
  <li> Favorite editor of <b>pico</b> is symlinked to <b>nano</b>: {{ d["pico_symlink_created"] }}</li>
  <li> Upload files greater than 1mb (not by much though pls): {{ d["file_is_uploaded"]}}
  <li> a file named <b>me</b> has been created in <b>/tmp</b>: {{ d["touch_me_exists"]}}
  <li> Parameter store value: {{ d["parameter_value"]}}
  <li> Message: {{ d["decoded_value"] }}
  <li> CFNOUT: {{ d["rds_endpoint"] }}
